"<table border='1' style='width:800px'>"+
	"<tr><td>tupple</td><td>count</td></tr>"+
	
	    for(var i = 0; i<rows.length ; i ++){ 
            "<tr><td>"+rows[i].tupple+"</td>"+
            "<td>"+rows[i].count+"</td></tr>"+
             
	    } 
	
"</table>"